@import url("https://fonts.googleapis.com/css2?family=Charmonman:wght@400;700&family=MonteCarlo&family=Patrick+Hand&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #ffe8d6;
  font-family: "Charmonman", cursive;
}

@media screen and (max-width: 768px) {
  .container {
    width: 80%;
    margin: 30px auto;
    border: 3px solid white;
  }

  header {
    margin: 30px auto;
    text-align: center;
    font-family: "Charmonman", cursive;
    font-size: 14px;
  }

  .puisi {
    padding: 20px;
    font-size: 20px;
    text-align: center;
  }

  footer {
    margin: 30px auto;
    text-align: center;
    font-family: "Charmonman", cursive;
    font-size: 14px;
  }

  input {
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
  }

  textarea {
    padding: 10px;
    max-width: 100%;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
  }

  .form-group {
    padding: 5px;
  }

  #my-form-status {
    width: 80%;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    border-radius: 8px;
  }

  #my-form-status.success {
    background-color: wheat;
  }
}
